import type { NextPage } from "next";
import Head from "next/head";

const Home: NextPage = (props) => {
  return (
    <>
      <Head>
        <title>{{name}}</title>
        <meta name="description" content="{{name}}" />
      </Head>
    </>
  );
};

export default Home;
